.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
src/main/scala/io/vertx/scala/core/**/*.scala
src/main/scala/asciidoc
src/test/scala/io/vertx/scala/codegen/**/*.scala