.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
.sdkmanrc
.bloop
.metals
.vscode
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
**/src/main/generated/**
src/test/java/io/vertx/codegen/**
src/test/java/com/acme/**
src/test/scala/io/vertx/scala/codegen/**
src/test/scala/com/acme/**
src/test/asciidoc
.bsp
