@comment{"# Class body
@{indentation}  override type J = @{toJavaType(type)}\n
"}
@comment{"# Class methods"}
@foreach{method : instanceMethods}
	@{indentation}  def @{method.name}@includeNamed{'writeTypeParamsWithVariance';typeParams=method.typeParams}@{multiMethodParams(method);}: @includeNamed{'writeReturnType';returnType=method.returnType} = {\n
	@{indentation}    @{methodInvocation('asJava', method, indentation);}
	@{indentation}  }
@end{'\n\n'}
