@comment{"# Generic asJava method"}
  def asJava: java.lang.Object\n\n

@comment{"# Trait methods"}
@foreach{method : instanceMethods}
	def @{method.name}@includeNamed{'writeTypeParamsWithVariance';typeParams=method.typeParams}@{multiMethodParams(method);}: @includeNamed{'writeReturnType';returnType=method.returnType}
@end{'\n\n'}
