@comment{"# Trait body
override type J <: @{toJavaType(type)}\n
"}
@comment{"# Trait methods"}
@foreach{method : instanceMethods}
	  def @{method.name}@includeNamed{'writeTypeParamsWithVariance';typeParams=method.typeParams}@{multiMethodParams(method);}: @includeNamed{'writeReturnType';returnType=method.returnType}
@end{'\n\n'}
