@comment{"# Generic asJava method"}
  def asJava: java.lang.Object\n\n

@comment{"# Trait methods"}
@foreach{method : instanceMethods}
@if{includeMethod(method, instanceMethods)}
  @if{method.doc != null}@{methodDoc(method, '');}@end{}
	def @{createNameForMethod(method)}@{writeTypeParamsWithVariance(method.typeParams)}@{multiMethodParams(method);}: @{returnTypeOf(method);}\n\n
@end{}
@end{}
